.open-sans{
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header styles */
.header{
    background-image: url('../Assets/Hero-bg.png');
    background-repeat: no-repeat;
    width: 1461px;
    height: 746px;
    padding-bottom: ;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
nav a{
    text-decoration: none;
    border: none;
}
.logo{
    color: #4E47FF;
    font-size: 34px;
}
.btn-1{
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 36px;
}
/* banner style */
.banner{
    margin: 158px 267px 153px 267px;
    text-align: center;
}
.banner-title{
    text-align: center;
    /* border: 309px 237px ; */
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
/* main style */
.action-section{
    display: flex;
    justify-content: space-between;
    margin: 116px 176px 116px 141px;
}
.title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.sub-title{
    color: #252432;
    font-size: 24px;
}
.left-side{
    margin: 62px 203px 62px 0px;
}
.right-side{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* productive user section */
.result{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.topic{
    color: #000000;
    font-size: 20px;
}
.information{
    display: flex;
    justify-content: space-between;
}
.user-section{
    border-radius: 24px;
    margin: 116px 159px 0 141px;
    padding: 50px 142px;
    text-align: center;
    background-color: rgba(57, 52, 210, 0.177);
}
/* reviewer style */
.heading{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.reviewer{
    text-align: center;
}
.reviewer-info{
    display: flex;
}
.reviewer-img{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
}
.feedback{
    text-align: center;
    margin: 137px 149px 0 151px;
    width: 1140px;
    height: 342px;
}
.review{
    height: 243px;
    width: 366px;
    border-radius: 14px;
    text-align: left;
    padding: 24px;
    margin: 30px 40px 0 0;
    background-color: #f9efef95;    
}
.section-flex{
    display: flex;
    justify-content: space-around;
}
/* get in touch section */
.get-in-touch{
    display: flex;
    justify-content: space-around;
    margin: 900px 150px;
}
.touch-title{
    font-size: 80px;
    font-weight: bold;
    height: 232px;
    width: 528px;
}
main input[type="email"] , main input[type="text"], main textarea{
    height: 70px;
    width: 497px;
    border-radius: 10px;
    background-color: #D6DDED;
    display: block;
    border: none;
}